@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #14263a; /* Cambia este color según tu esquema de color */
    --secondary-color: #6c757d; /* Cambia este color según tu esquema de color */
    --text-color: #333; /* Cambia este color según tu esquema de color */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eedfc5; /* Cambia este color según tu esquema de color */
}

header, footer {
    background-color: #dac391;
    color: #0c0b0b;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header img {
    height: 50px;
    border-radius: 10px;
    border: 2px solid #333;
    width: 50px;
    margin-right: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.hero {
    position: relative;
    margin-bottom: 40px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.158);
    font-size: 2em; /* Ajusta el tamaño de fuente según sea necesario */
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.507);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
}

article img {
    float: right;
    margin-left: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: var(--primary-color);
}

footer {
    background-color: #dac391;
    color: rgba(12, 11, 11, 0.89);
    padding: 20px;
    text-align: left;
    border-top: 1px solid black;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

.sociallinks {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    margin: 0 10px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
    align-items:baseline;
}

h1 {
    font-size: 2rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/* Estilos de enlaces del encabezado */
nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
    border-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.history-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history-content img {
    flex: 0 0 auto; /* Evita que la imagen crezca y mantenga su tamaño original */
    margin: 0 20px; /* Ajusta el margen entre el texto y la imagen según sea necesario */
    height: 150px;
}

#trips {
    display: flex;
    flex-wrap: nowrap; /* Evita que las imágenes se envuelvan a la siguiente línea */
    overflow-x: auto; /* Permite desplazar las imágenes horizontalmente */
    margin-bottom: 20px; /* Añade un margen al final para separar de otros elementos */
}

.Trips {
    display: flex;
    gap: 10px; /* Espacio entre las imágenes */
}

.Trips img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste proporcionalmente al ancho */
}

/* Estilos para las figuras */
figure {
    margin: 0; /* Elimina márgenes predeterminados */
}

figcaption {
    text-align: center; /* Centra el texto */
    font-style: italic; /* Estilo de fuente cursiva */
}
section .Trips img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 2px solid #333; /* Añade un marco a las imágenes */
    box-shadow: 0 0 10px gray;
    margin-bottom: 20px;
    margin-top: 20px;
}

 section .Trips :hover {
    transform: scale(1.05);
}
