@import url(https://fonts.google.com/selection/embed);
body {
    max-width:960px;
    padding:20px;
    font-family: var(--paragraph-font)
    
}

:root {
    --primary-color:#F6FEDB;
    --secondary-color:#EEE9BF;
    --accent1-color:#E6D3A3 ;
    --accent2-color: #D8D174 ;
    --heading-font: " roboto", serif;
    --paragraph-font:"roboto", monospace;
    --nav-background-color:#F6FEDB;
    --nav-link-color:#E6D3A3;
    --nav-hover-link-color:#EEE9BF;
    --nav-hover-background-color:#D8D174;
}

h1,h2,h3,h4{
    font-family:var(--heading-font);
    color: var(--accent1-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color)
}

p{
    padding:25px;
}

nav{
    background-color: var (--nav-background-color);
    font-size:1.2rem;
    display:flex;
}

nav a {
    display:block;
    color:var(--nav-link-color);
    text-decoration: dashed;
    padding:1rem;
}

nav a:link,nav a:visited{
    color:var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
}